html {
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
}

.firstRowContainer {
    width: 1440px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: center;
    margin: 5%;
    flex-wrap: wrap;
}

.container>* {
    margin-bottom: 4%;
}

.headlineContainer {
    max-width: 500px;
}

.usersReviewContainer {
    flex-direction: row;
    width: 1400px;
    height: 350px;
    display: flex;
}

.starsContainer {
    width: 500px;
    /* border: solid 2px black; */
}

.starsContainer>* {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.starsReviews {
    flex-direction: row;
    background-color: #F7F2F7;
    border-radius: 10px;
    max-width: 450px;
    width: 450px;
}

#firstStarReview {
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
}

#secondStarReview {
    margin-left: 12%;
    margin-bottom: 20px;
}

#thirdStarReview {
    margin-left: 18%;
}

.stars {
    margin: 2px;
}

.columns {
    flex-direction: column;
}

/* COLOR */
.darkMagenta {
    color: #502050;
}

.softPink {
    color: #EE68A4;
}

.darkGreyishMagenta {
    color: #937B92;
}

.lightGreyishMagenta {
    color: #F7F2F7;
}

/* TEXT */
@font-face {
    font-family: "Spartan";
    src: url("../font/Spartan/Spartan-VariableFont_wght.ttf");
}

.textReview {
    font-weight: bold;
}

p {
    font-family: "Spartan";
    font-size: 15px;
}

h1 {
    font-family: "Spartan";
    color: #502050;
    font-weight: 700;
}

h2 {
    font-family: "Spartan";
    color: #937B92;
    font-weight: 500;
}

/* CARDS */
.cards {
    margin: 1%;
    background-color: #502050;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    padding: 33px;
}

.userInformation {
    display: flex;
    flex-direction: row;
}

.userName {
    font-weight: 700;
    color: white;
}

.verifiedBuyerText {
    font-weight: 500;
    color: #EE68A4;
}

.userReview {
    line-height: 2;
    color: white;
}

.portraitImg {
    border-radius: 50%;
    margin-right: 40px;;
}

#secondCard {
    margin-top: 3%;
}

#thirdCard {
    margin-top: 5%;
}

/* ### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%) */